form { 
margin: 0 auto; 
width:500px;
position:absolute;
bottom: 120px;
left: 210px;
}

form input[type="submit"]{
color: maroon;
}

h3 {
#font-size:200%;
color:white;
position:absolute;
bottom: 150px;
left: 200px;
font-family: "Helvetica";
}

body {
background-image:url('./Benny_Hill.jpg');
background-size: 100%;
}