body {
    background-image:url('Benny_Hill.jpg');
    background-size: 100%;
}

h3 {
    #font-size:200%;
    color:white;
    position:absolute;
    bottom: 150px;
    left: 200px;
    font-family: "Helvetica";
}

#msg {
    background: maroon;
}

#msgtxt {
    color: white;
    padding: 10px;
    margin: auto;
    font-size: 200%;
}

form {
    height: 100%;
    width: 45%;
    margin: 0 auto;
    position:relative;
    float: left;
}


.formdiv {
    position: absolute;
    top: 50%;
    left: 5%;
    height: auto;
    width: 90%;
    border: 1px solid red;
}

#youtube_url {
    position: absolute;
    border: 1px solid red;
    width: 60%;
    height: 50px;
    float: left;
}

button {
    background: none;
    border: none;
    width: 30%;
    float: right;
}

button img {
    width: 100%;
}