<html>
    <head>
    <link rel="stylesheet" href="static/benny.css">
    </head>
    <body>
        <form id="bennyform" method="POST" action="/">
            <div class="formdiv">
                 <div id="msg">
                    <p id="msgtxt">{{ msg }}</p>
                </div>
                {{ form.hidden_tag() }}
                {{ form.youtube_url(placeholder="Paste YouTube Video URL here!") }}
                <button type="submit" class="bennybutton">
                    <img src="static/bennytize.png">
                </button>
            </div>
        </form>
    </body>
</html>