<html>

    <head>
    <link rel="stylesheet" href="static/benny.css">
    </head>

    <body>

        <div>
            <img src="static/bennytize.png">
        </div>

        <div id=msg>
            {{ msg }}
        </div>

        <form id=bennyform method="POST" action="/">
            {{ form.hidden_tag() }}
            {{ form.youtube_url(placeholder="Paste YouTube Video URL here!") }}
            <input type="submit" value="Bennytize!">
        </form>

    </body>

</html>